// colors
$primary-light-color: #ffffff;
$secondary-light-color: #f5f7fa;
$primary-dark-color: #003852;
$secondary-dark-color: #126286;
$dark-hover-color: #142730;
$gray-color: #d6dde3;
$gray-text: #9fa2b4;

$border: 1px solid $gray-color;

// sizes
$sidebar-width: 110px;
$navbar-height: 80px;
